
$message-color: #434A54;
$date-color:#999999;
$send-color:#38AEF0;


.chat-main{
  width: calc(100% - 300px);
  float:right;
  &__main-header {
    height: 100px;
    border-bottom: #eeeeee 1px solid;
    padding: 0 40px;
    &__left-box {
      padding-top: 35px;
      &__current-group {
        color: #333333;
        font-size:20px;
      }
      &__member-list {
        padding-top: 15px;
        p {
          color: $date-color;
          font-size:12px;
        }
      }
    }
    &__edit-botton {
      position: absolute;
      margin-top: 52px;
      top:0px;
      right: 40px;
      line-height:40px;
      padding: 0 20px;
      border: 1px $send-color solid;
      color:$send-color;
    }
  }

  &__messages {
    height: calc(100vh - 190px);
    background-color:#fafafa;
    padding: 46px 40px;
    &__message {
      padding-bottom: 40px;
      &__upper-info {
        display :flex;
        &__talker{
          font-size: 16px;
          font-weight: bold;
          color:$message-color;
        }
        &__date{
          font-size: 12px;
          color:$date-color;
          margin-left:10px;
        }
      }
      &__text{
        padding-top: 10px;
        font-size: 14px;
        color:$message-color;
      }
    }
  }

  &__form {
    height:90px;
    background-color: #ddd;
    padding: 20px 40px;
      &__new-message {
        display: flex;
        &__input-box{   
          width: 100%;
          position: relative; 
          .text {
            line-height: 50px;
            background-color:white;
            font-size:16px;
            color:$message-color;
            width: 100%;
            padding:0 10px;
          }
          label {
            display: inline-block;
            position: absolute;
            font-size: 1.3rem;
            top: 10px;
            right: 10px;
            cursor: pointer;
            #upload-icon{
              display: none;
            }
          }
        }
        &__commit {
         .submit_btn {
           height: 50px;  
           background-color:$send-color;
           margin-left:15px;
           width: 100px;
           color:white;
           cursor: pointer;
         }
        }
      }
     }
}