
$message-color: #434A54;
$date-color:#999999;
$send-color:#38AEF0;


.chat-main{
  width: calc(100% - 300px);
  float:right;
  &__main-header {
    height: 100px;
    border-bottom: #eeeeee 1px solid;
    padding: 0 40px;
    &__left-box {
      padding-top: 35px;
      &__current-group {
        color: #333333;
        font-size:20px;
      }
      &__member-list {
        padding-top: 15px;
        &__content {
          color: $date-color;
          font-size:12px;
        }
      }
    }
    &__edit-botton {
      p{
      position: absolute;
      margin-top: 30px;
      top:0px;
      right: 40px;
      line-height:40px;
      padding: 0 20px;
      border: 1px $send-color solid;
      color:$send-color;
      }
    }
  }

  &__messages {
    height: calc(100vh - 190px);
    background-color:#fafafa;
    padding: 46px 40px;
    overflow: scroll;
    &__message {
      padding-bottom: 40px;
      &__upper-info {
        display :flex;
        &__talker{
          font-size: 16px;
          font-weight: bold;
          color:$message-color;
        }
        &__date{
          font-size: 12px;
          color:$date-color;
          margin-left:10px;
        }
      }
      
      &__text{
          padding-top: 10px;
          font-size: 14px;
          color:$message-color;
          margin-bottom: 10px;
      }
    }
  }


  
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left: 10px;
    }
    &__mask {
      background-color: white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $send-color;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}
