
$sidebar-color:#FFFFFF;
@mixin group-name{
  font-size:15px;
  color: $sidebar-color;
}

@mixin message{
  font-size:11px;
  font-weight: bold;
  margin:5px 0 40px 0;
  color: $sidebar-color;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chatside {
  float: left;
  height: 100%;
  width: 300px;

  &__side-header {
    height: 100px;
    width: 300px;
    background-color:#253141;
    display: flex;
    align-items:center;
    padding: 0 20px;
    &__name {
      font-weight: bold;
      color: $sidebar-color;
      width: 100%;
    }
    ul {
      display: flex;
      li{
      margin-left: 0.3rem;
      font-size: 1em;
        .icon{
          color:white;
        }
      }
    }
   }
  &__groups {
    height: calc(100vh - 100px);
    width: 300px;
    padding: 20px 20px 0;
    background-color: #2f3e51;
    overflow: scroll;
    text-decoration:none;
    &__group__name{
    @include group-name;
      &__underbar{
        text-decoration: none;
      }
    }
    &__group__message{
    @include message;
    }
  }
}